<div class="ve-flex-col ve-window min-h-0 h-100">
	{{#unless isLegacy}}
		<div class="ve-flex-col">
			{{{nonLegacyHeader}}}
			<hr class="hr-2">
		</div>
	{{/unless}}

	<div class="ve-flex-v-stretch input-group input-group--top no-shrink">
		<button class="ve-btn ve-btn-5et veapp__btn-filter" name="btn-filter">Filter</button>
		<button class="ve-btn ve-btn-5et" title="Toggle Filter Summary Display" name="btn-toggle-summary"><span class="glyphicon glyphicon-resize-small"></span></button>
		<input type="search" class="search w-100 form-control h-initial" placeholder="Find package...">
		<button class="ve-btn ve-btn-5et veapp__btn-list-reset" name="btn-reset">Reset</button>
	</div>

	<div class="fltr__mini-view ve-btn-group"></div>

	<div class="ve-flex-v-stretch input-group input-group--bottom mb-1 no-shrink" data-name="wrp-btns-sort">
		<button class="ve-btn ve-btn-5et ve-col-0-5 px-1" disabled></button>
		<button class="ve-btn ve-btn-5et ve-col-4-5 px-1 sort" data-sort="name">Name</button>
		<button class="ve-btn ve-btn-5et ve-col-3-8 px-1 sort" data-sort="author">Authors</button>
		<button class="ve-btn ve-btn-5et ve-col-1 px-1" disabled title="Version">Ver.</button>
		<button class="ve-btn ve-btn-5et ve-col-1 px-1" disabled title="Size">Sz.</button>
		<button class="ve-btn ve-btn-5et ve-col-0-6 px-1 sort" data-sort="module" title="Has Module">Mod.</button>
		<button class="ve-btn ve-btn-5et ve-col-0-6 px-1 sort" data-sort="world" title="Has World">Wld.</button>
	</div>

	<div class="ve-flex-col h-100 min-h-0 veapp__list">
		{{#each packages}}
			<label class="w-100 ve-flex-v-center veapp__list-row veapp__list-row-hoverable">
				<span class="ve-col-0-5 px-1 ve-flex-vh-center"><input type="radio" name="radio" class="no-events"></span>

				<span class="px-1 ve-col-4-5">{{title}}</span>
				<span class="px-1 ve-col-3-8 text-clip-ellipsis" title="{{join _lAuthor ", "}}">{{join _lAuthor ", "}}</span>
				<span class="px-1 ve-col-1 ve-small ve-text-center">{{version}}</span>
				<span class="px-1 ve-col-1 ve-small code ve-text-center" title="{{_sizeHumanReadableTitle}}">{{_sizeHumanReadable}}</span>
				<span class="px-1 ve-col-0-6 ve-text-center">{{#if manifesturlModule}}<span class="veapp__msg-warning fas fa-fw fa-check" title="Available as Module"></span>{{else}}{{/if}}</span>
				<span class="px-1 ve-col-0-6 ve-text-center">{{#if manifesturlWorld}}<span class="veapp__msg-warning fas fa-fw fa-check" title="Available as World"></span>{{else}}{{/if}}</span>
			</label>
		{{/each}}
	</div>

	<div class="no-shrink ve-flex-v-center">
		<button class="ve-btn ve-btn-5et w-50 mr-2" name="btn-run--module">Import as Module</button>
		<button class="ve-btn ve-btn-5et w-50" name="btn-run--world">Import as World</button>
	</div>
</div>
