<div class="ve-flex-col ve-window min-h-0 h-100">
	<div class="ve-flex-v-stretch input-group input-group--top no-shrink">
		<input type="search" class="search w-100 form-control h-initial" placeholder="Find {{titleSearch}}...">
		<button class="ve-btn ve-btn-5et veapp__btn-list-reset" name="btn-reset">Reset</button>
	</div>
	<div class="ve-flex-v-stretch input-group input-group--bottom mb-1 no-shrink" data-name="wrp-btns-sort">
		<button class="ve-btn ve-btn-5et ve-col-3 sort name" data-sort="name">Name</button>
		<button class="ve-btn ve-btn-5et ve-col-1 sort source" data-sort="source">Source</button>

		<button class="ve-btn ve-btn-5et ve-col-8" disabled></button>
	</div>

	<div class="veapp__list mb-1 h-100">
		{{#each rows}}
			<div class="w-100 ve-flex-v-center py-1 veapp__list-row my-1">
				<span class="ve-col-3 pl-1">{{name}}</span>
				<span class="ve-col-1 ve-text-center {{sourceClassName}}" title="{{sourceLong}}">{{sourceShort}}</span>

				<div class="ve-col-8 ve-flex-col pr-1 pl-2 bl-1p">
					{{> plutonium.CustomizeToken contextCustomizeToken}}
					{{#if isTokensThreeDi}}
						{{> plutonium.CustomizeToken contextCustomizeTokenThreeDi}}
					{{/if}}
				</div>
			</div>
		{{/each}}
	</div>

	<div class="no-shrink">
		<button class="ve-btn ve-btn-5et ve-btn-primary w-100" name="btn-run">Import</button>
	</div>
</div>
