<div class="ve-flex-col ve-window min-h-0 h-100">
	<div class="ve-flex-v-stretch input-group input-group--top no-shrink">
		<input type="search" class="search w-100 form-control h-initial" placeholder="Find {{titleSearch}}...">
		<button class="ve-btn ve-btn-5et veapp__btn-list-reset" name="btn-reset">Reset</button>
	</div>
	<div class="ve-flex-v-stretch input-group input-group--bottom mb-1 no-shrink" data-name="wrp-btns-sort">
		<button class="ve-btn ve-btn-5et ve-col-7-5 sort" data-sort="name">Name</button>
		<button class="ve-btn ve-btn-5et ve-col-1-5 sort" data-sort="source">Source</button>

		<button class="ve-btn ve-btn-5et ve-col-3" disabled>Import As</button>
	</div>

	<div class="veapp__list mb-1 h-100">
		{{#each rows}}
			<label class="w-100 ve-flex-v-center pb-1p veapp__list-row veapp__list-row-hoverable min-h-24p">
				<span class="ve-col-7-5 pl-1">{{name}}</span>
				<span class="ve-col-1-5 ve-text-center {{sourceClassName}}" title="{{sourceLong}}">{{sourceShort}}</span>

				<div class="ve-col-3 ve-flex-v-center">
					<select class="w-100 mx-1 input-xs veapp__sel-row-inline form-control" name="sel-foundry-type">
						<option value="-1" title="Default">&mdash;</option>
						{{#each foundryTypes}}
							<option value="{{ix}}" title="{{displayName}} (&quot;{{type}}&quot;)">{{displayName}}</option>
						{{/each}}
					</select>
					</div>
			</label>
		{{/each}}
	</div>

	<div class="no-shrink">
		<button class="ve-btn ve-btn-5et ve-btn-primary w-100" name="btn-run">Import</button>
	</div>
</div>
